target/
!.mvn/wrapper/maven-wrapper.jar
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
*.logs

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/logs/
/src/test/resources/
!/src/test/resources/testdata/
!/src/test/resources/extent-config.xml
!/src/test/resources/log4j2.xml
!/src/test/resources/config.properties
!/src/test/resources/extent.properties
!/target/failed_scenarios.txt
